<header class="header">
  <div class="title">
    <p class="header-title">Reunión</p>
  </div>
  <div class="navigation">
    <ul class="navigation-items">
      
      {% if request.user.role == "admin" %}
        <a href="{% url 'reporte_app:add-reporte' %}">Nueva reunión</a>
        <a href="{% url 'reporte_app:lista-reportes' %}">Reuniones</a>
      {% endif %}
        
      <form action="{% url 'users_app:user-logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="boton-logout">Cerrar sesión</button>
      </form>
    </ul>
  </div>
</header>
<div class="franja"></div>