{% extends 'base.html' %}


{% block title %}
    Editar usuario
{% endblock title %}
    


{% block content %}

    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-10 large-6" style="margin-top: 2em;">
                <div class="card" style="width: 100%;">
                    <div class="card-divider">
                      <h4>Usuario: {{ usuario.get_full_name }}</h4>
                    </div>
                    <div class="card-section">
                        <form class="grid-x grid-margin-x" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
    
                            <div class="cell medium-6">
                                <label>Nombres:
                                    {{ form.nombres }}
                                </label>
                            </div>
                            <div class="cell medium-6">
                                <label>Apellidos:
                                    {{ form.apellidos }}
                                </label>
                            </div>
                            <div class="cell large-12">
                                <label>Username:
                                {{ form.username }}
                                </label>
                            </div>
                            <div class="cell large-12">
                                <label>Email:
                                    {{ form.email }}
                                </label>
                            </div>
                            <div class="cell medium-12">
                                <label>Rol:
                                    {{ form.role }}
                                </label>
                            </div>
                            <div class="cell medium-3">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="is_staff" id="id_is_staff" {% if form.is_staff.value %}checked{% endif %}>
                                    <span></span>
                                    Admin
                                </label>
                            </div>
                            <div class="cell medium-3">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="is_active" id="id_is_active" {% if form.is_active.value %}checked{% endif %}>
                                    <span></span>
                                    Activo
                                </label>
                            </div>
                            
                            <div class="cell large-12" style="text-align: center;">
                                <button type="submit" class="boton-sec">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
